---
http_interactions:
- request:
    method: post
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/signin
    body:
      encoding: UTF-8
      string: '{"email":"user@example.com","password":"secret"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - aaaaabbbbbcccccdddddeeeeefffffgg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '{"token":"8ccda55f-acce-468c-85b1-b4f5c32aec26","minutes":10}'
  recorded_at: Fri, 20 May 2016 02:27:16 GMT
recorded_with: VCR 3.0.1
