---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/linhas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - aaaaabbbbbcccccdddddeeeeefffffgg
      X-Auth-Token:
      - 8ccda55f-acce-468c-85b1-b4f5c32aec26
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Page:
      - '0'
      X-Page-From:
      - '1'
      X-Page-Size:
      - '0'
      Content-Type:
      - application/json; charset=utf-8
      X-Page-Total:
      - '205'
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '[{"CodigoLinha":"0001","Denomicao":"POTY VELHO B. ESPERANCA VIA ACARAPE","Origem":"TERMINAL
        1","Retorno":"TERMINAL 2","Circular":true},{"CodigoLinha":"0402","Denomicao":"VILA
        BANDEIRANTE-PLANALTO ININGA FREI SERAFIM","Origem":"VILA BANDEIRANTE","Retorno":"PCA.
        BANDEIRA","Circular":true},{"CodigoLinha":"0403","Denomicao":"V BANDEIRANTE-SATELITE
        VIA SHOPPING","Origem":"VILA BANDEIRANTE","Retorno":"PCA. BANDEIRA","Circular":true},{"CodigoLinha":"0404","Denomicao":"VILA
        BANDEIRANTE DOM SEVERINO","Origem":"VILA BANDEIRANTE","Retorno":"PCA. BANDEIRA","Circular":true},{"CodigoLinha":"0405","Denomi[...]
