---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/paradas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - aaaaabbbbbcccccdddddeeeeefffffgg
      X-Auth-Token:
      - 8ccda55f-acce-468c-85b1-b4f5c32aec26
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Page:
      - '0'
      X-Page-From:
      - '1'
      X-Page-Size:
      - '0'
      Content-Type:
      - application/json; charset=utf-8
      X-Page-Total:
      - '2452'
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '[{"CodigoParada":2223,"Denomicao":"T Dom Avelar","Endereco":null,"Lat":null,"Long":null},{"CodigoParada":2225,"Denomicao":"T
        Anita Ferraz","Endereco":null,"Lat":null,"Long":null},{"CodigoParada":2226,"Denomicao":"T
        Nova Teresina","Endereco":null,"Lat":null,"Long":null},{"CodigoParada":2227,"Denomicao":"T
        Colégio Agrícola","Endereco":null,"Lat":null,"Long":null},{"CodigoParada":2228,"Denomicao":"T
        Primavera","Endereco":null,"Lat":null,"Long":null},{"CodigoParada":317,"Denomicao":"AV.
        LEÔNIDAS MELO 1 ","Endereco":"Avenida Leônidas Melo, 76[...]
