---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/paradasLinha?busca=0402
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - aaaaabbbbbcccccdddddeeeeefffffgg
      X-Auth-Token:
      - 8ccda55f-acce-468c-85b1-b4f5c32aec26
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '{"Linha":{"CodigoLinha":"0402","Denomicao":"VILA BANDEIRANTE-PLANALTO
        ININGA FREI SERAFIM","Origem":"VILA BANDEIRANTE","Retorno":"PCA. BANDEIRA","Circular":true},"Paradas":[{"CodigoParada":2221,"Denomicao":"T
        Vila Bandeirante","Endereco":"Rua Doutor Lopes Sobrinho - Verde Lar, Teresina
        - PI, 64062-140, República Federativa do Brasil","Lat":"-5.037948","Long":"-42.742320"},{"CodigoParada":1031,"Denomicao":"RUA
        PROF. DINA SOARES 19 ","Endereco":"Avenida Zéquinha Freire, 4302-4332 - Santa
        Isabel, Teresina - PI, Brasil","Lat":"-5.039268","Long":"-42.746932"},{"CodigoParada":1033,"Denomicao":"AV.
        ZEQUINHA FREIRE 1 ","Endereco":"Avenida Zéquinha Freire, 4195-4219 - Santa
        Isabel, Teresina - PI, 64053-400, Brasil","Lat":"-5.040731","Long":"-42.747751"},{"CodigoParada":1035,"Denomicao":"AV.
        ZEQUINHA FREIRE 3 ","Enderec[...]
