---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/veiculos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - aaaaabbbbbcccccdddddeeeeefffffgg
      X-Auth-Token:
      - 8ccda55f-acce-468c-85b1-b4f5c32aec26
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '[{"Linha":{"CodigoLinha":"0510","Denomicao":"PARQUE JUREMA-DIRCEU II
        JOAO XXIII","Origem":"PARQUE JUREMA","Retorno":"PCA. BANDEIRA","Circular":true,"Veiculos":[{"CodigoVeiculo":"03250","Lat":"-5.10974200","Long":"-42.75128000","Hora":"23:19"}]}},{"Linha":{"CodigoLinha":"0603","Denomicao":"PARQUE
        JUREMA-DIRCEU II M. ROSA","Origem":"PARQUE JUREMA","Retorno":"PCA. JOAO LUIZ","Circular":true,"Veiculos":[{"CodigoVeiculo":"03416","Lat":"-5.12215000","Long":"-42.79368800","Hora":"23:18"}]}},{"Linha":{"CodigoLinha":"0723","Denomicao":"RODOVIARIA
        CIRCULAR I","Origem":"TERMINAL RODOVIARIO","Retorno":"BAL. COCA-COLA","Circular":true,"Veiculos":[{"CodigoVeiculo":"04371","Lat":"-5.08774000","Long":"-42.77513500","Hora":"2[...]
